*{
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    padding: 0.2rem;
}
.nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .links{
    display: flex;
    gap: 2rem;
}
.nav .toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.btn-login{
    background-color: #141E61; 
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline:none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.btn-login:hover{
    color: aliceblue;
    background-color: #0F044C;
    transition: 1.5s ease-in-out;
}

.links li{
    color: #eeee;
}
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open{
    height:240px;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .btn-login{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* responsive */
@media(max-width:992px){
    .nav .links,
    .nav .btn-login{
        display: none;
    }
    .nav .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}
@media(max-width:576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}
/* background */
 .trapezium {
      height: 0;
      width: 70%;
      border-top: 500px solid #0F044C;
      /* border-left: 100px solid transparent; */
      border-right: 350px solid transparent;
}
/* slider */
.image img{
    width: 800px;
    height: 500px;
}
@media(max-width:992px){
    .trapezium{
        height: 0;
        width: 100%;
        border-bottom: 800px solid #0F044C;
        border-right: 0;
        z-index: -1;
    }
    .image img{
        margin-top:30px;
        width: 380px; 
        height: 220px;
        justify-content: center;
        margin-right: 143px;
        margin-top: 110px;
    }
}
.photo img{
    display: none;
}
@media(max-width:576px){
    .image img{
        margin-left: 100px;
        width: 250px;
        height: 150px;
        margin-top: 80px;
    }
}
@media(max-width: 992px){
    .photo img{
        position: absolute;
        display: block;
        width: 1500px;
        height: auto;
    }
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }
.hero{
    width: 50%;
}
.hero-body{
    margin-left:15%;
    margin-top: 30px;
}
.hero-body h1{
    font-size: 48px;
    color: #eeee;
}
.hero-body p{
    font-size: 18px;
    color: #eeee;
}
.btn-hero{
    margin-top: 15px;
}
.btn-hero a{
    border: 2px solid #eeee;
    padding:5px 15px;
    border-radius: 3px;
    color: #eeee;
}
.btn-hero i{
    color: #eeee;
}